.calGrid{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    column-gap: 5px;
    row-gap: 5px;
    justify-content: center;
}
.inGrid{
    display: grid;
    grid-template-columns: 300px 100px;
    column-gap: 15px;
    row-gap: 10px;
    justify-content: center;
}

input{
    width: 285px;
    height: 80px;
    color: black;
    display: block;
    background-color: white;
    border-radius: 4px;
    margin-bottom: 5px;
    font-size: 20px;
    padding-left: 20px;
    border: 1px solid black;
}
.keys{ 
    display: flex;
    justify-content: center;
    font-size: 20px;
    border-radius: 4px;
    color: black;
    padding: 20px;
    background-color: white;
}
::placeholder{
    font-size: 20px;
}
h2{
    color: white;
    text-align: center;
    font-size: 40px;
    margin-bottom:5px;
}
.cancel{
    background-color: red;
    width: 100px;
    height: 80px;
    border-radius: 4px;
    color: white;
}
h1{
    text-align: center; font-size: 30px;
}
.cals{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 430px;
    height: 430px;
    background-color: rgb(39, 201, 201);
    margin-top: 100px;
}
